*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(apple_macbook_airbook_computer_mouse_106498_3840x2400.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    width:100%;
    background-position: center;
    background-size: cover;
    }
.navbar{
    background: rgba(0, 0, 0, 0.6);
    margin-top: 2.0vw;
    padding: 0;
    opacity: 0.9;
    height: 4vw; 
    width: 100%;
    
}
.menu{ 
    float: right;
    list-style: none;
    line-height: 1.7vw;
    margin-bottom: .2vw;
}
.menu li{
    display: inline-block;
    margin: 1.1vw .5vw;
    
}
.menu li a{
    text-decoration: none;
    padding: .5vw 2vw;
    color: #fff;
    font-family: sans-serif;
    font-size: 1.34vw;
    border: 1px solid #fff;
    border-radius: .8vw;
}
.menu li a:hover{
    background: white;
    transition: .4s;
    color: blueviolet;
}
/* .leftmenu{
    float: right;
    list-style: none;
    margin: 37px;
} 
.leftmenu li{
    display: inline-block;
    margin: 10px 5px;
    padding: 5px;
}
.leftmenu li a{
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    font-family: sans-serif;
    font-size: 26px;
    border: 1px solid black;
    border-radius: 10px;
}
.leftmenu li a:hover{
    background: black;
    transition: 0.4s;
    color: aliceblue;
} */
.text{
    width: 100%;
    margin-top: 7vw;
    text-transform: uppercase;
    text-align: center;
    color:azure;
    
}
.text h3{
    font-size: 1.2vw;
}
.text h1{
    font-size: 6.3vw;
    font-family: Helvetica;
    color: ghostwhite;
    padding:0;
    margin:0;
    
}
.text hr{
    border-width: 2px;
    width: 8vw;
    margin: 15px;
}
#btn1{
    background: rgba(0, 0, 0, 0.4);
    border: .3vw solid #fff;
    border-radius: 10px;
    font-size: 1vw;
    font-family: arial;
    text-transform: uppercase;
    width: 13vw;
    line-height: 2.2vw;
    color: white;
    margin: 30px;
    padding: 7px;
}
#btn1:hover{
    background: white;
    transition: .4s;
    color: darkblue;
    
}
.main{
    margin: .3vw;
    opacity: 0.94;
    background-color: darkslategray;
    border: 4px solid black;
    height: 22vw;
    font-size: 1.8vw;
    text-align: center;
    border-top: 1px;
    border-bottom: 1px;
    color: darkgoldenrod;
    font-family: Trebuchet MS;
    
}
.main h4{
    padding: 1.9vw;
    color: navajowhite;
    font-family: Aguafina Script;
    text-align: left;
    border: .4vw solid black;
    border-top: 0;
    border-right: 0;
    padding: 1.2vw;
    width: 8.9vw;
    margin: 1vw;
    border-radius: 20px;
}
.main h6{
    font-size: 1.7vw;
    
}

.cont{
    margin-top: 2vw;
    margin-left: 33.3vw;
    margin-right: 33.3vw;
    margin-bottom: 8vw;
    text-align: center;
    color: currentColor;
    border: .4vw solid white;
    border-radius: 8px;
    width: 32.5vw;
    height: 29vw;
    background: white;
    opacity: 0.7;
}
.cont hr{
    margin-top: 1vw;
    margin-left: 14vw;
    width: 5vw;
    border-width: thin;
}
.cont h1{
    font-size: 3.5vw;
    margin-bottom: 1vw;
}
.cont h4{
    font-size: 3vw;
    margin-top: 1.9vw;
    color: darkviolet;
}
.cont p{
    margin-top: .5vw;
    font-size: 1.2vw;
}
.cont h6{
    text-align: left;
    text-align: center;
    font-size: 1vw;
    margin-top: 1.2vw;
    color: darkslateblue;
}
.follow{
    float:none;
    list-style: none;
    margin: .5vw;
    margin-top: 1.3vw;
}
.follow li{
    
    text-decoration: none;
    margin: .2vw;
    display: inline-block;
    padding: 1px;
    font-size: 1.6vw;
}
.follow li a{
    border: 1px solid white;
    border-radius: 1vw;
    padding: .5vw 1.9vw;
}
.follow li a:hover{
      background: rgba(0, 0, 0, 0.6);
      transition: 0.4s;
    color: cyan;
}
.footer{
     margin-bottom: 0;
     width: 100%;
}
.footer h3{
    text-align: center;
    font-size: .9vw;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 2vw;
    color: darkcyan;
}


.aboutme{
    float: left;
    margin: 40vw;
    padding: 0;
    margin-top: 40vw;
    color: white;
    border: .3vw solid white;
    border-radius: 1vw;
    margin: 1vw;
    width: 97.3vw;
    border-left: 1px;
    border-right: 1px;
    background: rgba(0, 0, 0, 0.6);
    
}
.intro h1{
    margin-top: 2vw;
    margin-left: 2vw;
    font-weight: 300;
    font-size: 4.4vw;
}
.intro h6{
    margin-top: 0;
    margin-left: 4.6vw;
    font-weight: 250;
    font-size: 1.6vw;
}
.intro hr{
    width: 50vw;
}
.objective{
    margin-top: 2vw;
    margin-left: 2vw;
    color: white;
    font-size: 1.19vw;
    font-weight: 300;
    
}

.obj{
    color: white;
    margin: 2vw;
    margin-left: 3.1vw;
    font-size: 1.3vw;
   
}
.education{
    font-weight: 300;
    margin-top: 2vw;
    margin-left: 2vw;
    color: white;
    font-size: 1.15vw;
}
.education ul{
    font-size: 1.3vw;
    margin: 2vw;
    margin-top: 2vw;
    margin-left: 3.5vw;
}
.research{
    margin-top: 2vw;
    margin-left: 2vw;
    color: white;
    font-size: 1.15vw;
}
.research h1{
    font-weight: 300;
}
.research ul li{
    margin-top: .8vw;
    font-size: 1.4vw;
    margin-left: 3.1vw;
}
.research p{
    font-size: 1.3vw;
    margin:2vw;
    margin-left: 3.1vw;
}
.skills h1{
    margin:2vw;
    margin-left: 2vw;
    font-size: 2.2vw;
}
.skills ul{
    font-size: 1.3vw;
    margin:2vw;
    margin-left: 4.9vw;
    margin-top: 2vw;
}
.interest h1{
    margin-top: 2vw;
    margin-left: 2vw;
    font-size: 2.2vw;
}
.interest ul{
    font-size: 1.3vw;
    margin-top: 2vw;
    margin-left: 4.9vw;
    margin-bottom: 2vw;
}
.pub h1{
    margin-top: 2vw;
    margin-left: 2vw;
    font-size: 2.2vw;
}
.pub ul{
    font-size: 1.3vw;
    margin-top: 2vw;
    margin-left: 4.9vw;
    margin-bottom: 2vw;  
}
.refer h1{
    margin-top: 2vw;
    margin-left: 2vw;
    font-size: 2.2vw;
   
}
.imgnim{
    float: left;
    border: .1vw solid white;
    width: 20vw;
    height: 20vw;
    border-radius: 18vw;
    background: url(Screen%20Shot%202018-05-18%20at%2012.06.18%20PM.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 14vw;
    
}
.imgpati{
    float: right;
    border: .1vw solid white;
    border-radius: 18vw;
    width: 20vw;
    height: 20vw;
    background: url(Screen%20Shot%202018-05-18%20at%2012.06.47%20PM.png); 
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 14vw;
}
.nirmal{
    text-align: center;
    float:left;
    margin-top: 1vw;
    margin-left: 12vw;
}
.nirmal li{
    list-style: none;
    font-size: 2.8vw;
    display: inline-block;
     
}
.nirmal li a{
    text-decoration: none;
    color: white;
   
}
.nirmal li a:hover{
    color: dodgerblue;
    transition: .4s;
    background: transparent;
}
.nirmal h3{
    margin-top: 1.33vw;
    font-size: 1.34vw;
}
.nirmal h4{
    margin-top: 1.2vw;
    font-size: 1.2vw;
}
.pati{
    text-align: center;
    float: right;
    margin-top: 1vw;
    margin-right: 10vw;
}
.pati li{
    list-style: none;
    font-size: 2.8vw;
    display: inline-block;
     
}
.pati li a{
    text-decoration: none;
    color: white;
   
}
.pati li a:hover{
    color: dodgerblue;
    transition: .4s;
    background: transparent;
}
.pati h3{
    margin-top: 1.2vw;
    font-size: 1.2vw;
}
.pati h4{
    margin-top: 1.2vw;
    font-size: 1.2vw;
}
.bord{
    border:.3vw solid white;
    height: 20vw;
    border-bottom: 0;
    border-top:0;
    border-left: 0;
    width:0;
    margin-left: 50%;
    margin-top: 10vw;
    border-radius: 10vw;
     margin-bottom: 22vw;
}





